# ---- Visual Studio ----
.vs/
*.user
*.suo
*.userosscache
*.sln.iml

# ---- Build/compilación ----
bin/
obj/
Debug/
Release/
x64/
x86/

# ---- NuGet ----
packages/
*.nupkg
*.snupkg
project.lock.json

# ---- IDEs ----
.idea/
.vscode/
*.DotSettings.user

# ---- Otros ----
*.log
