USE [master]
GO
/****** Object:  Database [ProductosDefectuosos]    Script Date: 11/19/2025 11:34:12 PM ******/
CREATE DATABASE [ProductosDefectuosos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductosDefectuosos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProductosDefectuosos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductosDefectuosos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProductosDefectuosos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductosDefectuosos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductosDefectuosos]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[TipoDocumento] [varchar](4) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[DeudaTotal] [money] NOT NULL,
	[NroDocumento] [nvarchar](13) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[NombreCompleto] [varchar](50) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[NumeroLog] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[AccionRealizada] [varchar](max) NOT NULL,
	[ModuloInvolucrado] [varchar](50) NOT NULL,
	[NivelLog] [varchar](50) NOT NULL,
	[Criticidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[NumeroLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RemitenteId] [int] NOT NULL,
	[DestinatarioId] [int] NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Leida] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[CodigoProducto] [int] IDENTITY(1,1) NOT NULL,
	[CostoProducto] [money] NOT NULL,
	[CondicionProducto] [varchar](20) NOT NULL,
	[NombreProducto] [varchar](50) NOT NULL,
	[ProblemaEntrada] [varchar](max) NOT NULL,
	[Cliente] [int] NOT NULL,
	[FechaRecibida] [date] NULL,
	[FechaEstimadaDevolucion] [date] NULL,
	[Dimensiones] [varchar](50) NOT NULL,
	[CostoPerdidaManoObra] [money] NULL,
	[CostoPerdidaMateriaPrima] [money] NULL,
	[FechaDevolucionReal] [date] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento](
	[CodigoSeguimiento] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [int] NOT NULL,
	[IDPersonalResponsable] [int] NOT NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Visibilidad] [int] NOT NULL,
 CONSTRAINT [PK_Seguimiento] PRIMARY KEY CLUSTERED 
(
	[CodigoSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [NombreCompleto], [Email], [TipoDocumento], [Direccion], [DeudaTotal], [NroDocumento]) VALUES (9, N'Fernando Redondo', N'ferredondo@gmail.com', N'CUIL', N'Calle falsa 123, Buenos Aires', 2000.0000, N'20-12345678-3')
INSERT [dbo].[Cliente] ([IdCliente], [NombreCompleto], [Email], [TipoDocumento], [Direccion], [DeudaTotal], [NroDocumento]) VALUES (10, N'Jorge', N'JorgeCliente@gmail.com', N'CUIL', N'Av sarmiente', 123000.0000, N'23-00042100-7')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Email], [Contrasena], [NombreCompleto], [Rol]) VALUES (1, N'admin@gmail.com', N'362b9dbc7804eb1dfd3d0a7667fea2f87d8ed5e6c3143c36e3cda78f2a74839b', N'Maximo Kirichuk', N'Admin')
INSERT [dbo].[Empleado] ([IdEmpleado], [Email], [Contrasena], [NombreCompleto], [Rol]) VALUES (6, N'lucasignaciomolinari2209.2@gmail.com', N'823b5d7208798167d5f165f0cdd80a1416de423d2c04ab5cf29222289a9b8b12', N'Lucas Ignacio Molinari', N'Vendedor')
INSERT [dbo].[Empleado] ([IdEmpleado], [Email], [Contrasena], [NombreCompleto], [Rol]) VALUES (7, N'alan@gmail.com', N'db42328112177c2d6f2f6ca7f33c8e81084b8ff3e14202254137e22673bce2c8', N'alan', N'EmpleadoReparacion')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([NumeroLog], [IdEmpleado], [FechaEvento], [AccionRealizada], [ModuloInvolucrado], [NivelLog], [Criticidad]) VALUES (1, 1, CAST(N'2025-10-18T20:34:05.610' AS DateTime), N'Inicio de sesión exitoso para usuario ''admin@tuapp.com''', N'Login', N'Informacion', N'Baja')
INSERT [dbo].[Log] ([NumeroLog], [IdEmpleado], [FechaEvento], [AccionRealizada], [ModuloInvolucrado], [NivelLog], [Criticidad]) VALUES (2, 1, CAST(N'2025-10-26T12:32:19.020' AS DateTime), N'Inicio de sesión exitoso para usuario ''admin@tuapp.com''', N'Login', N'Informacion', N'Baja')
INSERT [dbo].[Log] ([NumeroLog], [IdEmpleado], [FechaEvento], [AccionRealizada], [ModuloInvolucrado], [NivelLog], [Criticidad]) VALUES (3, 1, CAST(N'2025-10-26T12:32:24.387' AS DateTime), N'Cambio de contraseña exitoso', N'Login', N'Informacion', N'Baja')
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificaciones] ON 

INSERT [dbo].[Notificaciones] ([Id], [RemitenteId], [DestinatarioId], [Mensaje], [Fecha], [Leida]) VALUES (1, 8, 1, N'El empleado Maximo Yapura modificó la condición del producto "Silla ergonómica" a "Reparado". Mensaje: Se reemplazó la base dañada con éxito.', CAST(N'2025-10-26T18:20:10.000' AS DateTime), 1)
INSERT [dbo].[Notificaciones] ([Id], [RemitenteId], [DestinatarioId], [Mensaje], [Fecha], [Leida]) VALUES (2, 8, 1, N'El empleado Maximo Yapura modificó la condición del producto "Mesa de vidrio" a "Desechado". Mensaje: La estructura se rompió y no puede repararse.', CAST(N'2025-10-26T18:25:34.000' AS DateTime), 1)
INSERT [dbo].[Notificaciones] ([Id], [RemitenteId], [DestinatarioId], [Mensaje], [Fecha], [Leida]) VALUES (3, 7, 1, N'El empleado alan modificó la condición del producto Mesa de comedor a Reparado.
Mensaje: Este producto ya fue reparado en su totalidad', CAST(N'2025-11-19T22:54:28.770' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Notificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([CodigoProducto], [CostoProducto], [CondicionProducto], [NombreProducto], [ProblemaEntrada], [Cliente], [FechaRecibida], [FechaEstimadaDevolucion], [Dimensiones], [CostoPerdidaManoObra], [CostoPerdidaMateriaPrima], [FechaDevolucionReal]) VALUES (1, 1500.5000, N'EnReparacion', N'Motor Eléctrico', N'No enciende al conectarlo', 9, CAST(N'2025-09-07' AS Date), CAST(N'2025-09-15' AS Date), N'30x20x15 cm', 200.0000, 500.0000, NULL)
INSERT [dbo].[Producto] ([CodigoProducto], [CostoProducto], [CondicionProducto], [NombreProducto], [ProblemaEntrada], [Cliente], [FechaRecibida], [FechaEstimadaDevolucion], [Dimensiones], [CostoPerdidaManoObra], [CostoPerdidaMateriaPrima], [FechaDevolucionReal]) VALUES (2, 120000.0000, N'Desechado', N'Mesa peteribi', N'Llego roto el enchapado', 9, CAST(N'2025-09-07' AS Date), CAST(N'2025-09-21' AS Date), N'Ancho:3xLargo4xAlto3', 0.0000, 0.0000, NULL)
INSERT [dbo].[Producto] ([CodigoProducto], [CostoProducto], [CondicionProducto], [NombreProducto], [ProblemaEntrada], [Cliente], [FechaRecibida], [FechaEstimadaDevolucion], [Dimensiones], [CostoPerdidaManoObra], [CostoPerdidaMateriaPrima], [FechaDevolucionReal]) VALUES (3, 20000.0000, N'Reparado', N'Escritorio ', N'Chasqueado en la punta', 10, CAST(N'2025-10-18' AS Date), CAST(N'2025-11-01' AS Date), N'Ancho:2xLargo2xAlto3', 4.0000, 0.0000, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Seguimiento] ON 

INSERT [dbo].[Seguimiento] ([CodigoSeguimiento], [CodigoProducto], [IDPersonalResponsable], [Mensaje], [FechaRegistro], [Visibilidad]) VALUES (1, 1, 1, N'Llego al producto al deposito', CAST(N'2025-09-16' AS Date), 1)
INSERT [dbo].[Seguimiento] ([CodigoSeguimiento], [CodigoProducto], [IDPersonalResponsable], [Mensaje], [FechaRegistro], [Visibilidad]) VALUES (2, 1, 1, N'Se arreglo la parte trasera del seguimiento', CAST(N'2025-09-16' AS Date), 1)
INSERT [dbo].[Seguimiento] ([CodigoSeguimiento], [CodigoProducto], [IDPersonalResponsable], [Mensaje], [FechaRegistro], [Visibilidad]) VALUES (3, 1, 1, N'Se combino todas las pinturas en la chapa de la mesa', CAST(N'2025-09-16' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Seguimiento] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NroDocumento]    Script Date: 11/19/2025 11:34:12 PM ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [NroDocumento] UNIQUE NONCLUSTERED 
(
	[NroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Email]    Script Date: 11/19/2025 11:34:12 PM ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Seguimiento] ADD  DEFAULT ((0)) FOR [Visibilidad]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_Empleado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Cliente] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Cliente]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_Empleado] FOREIGN KEY([IDPersonalResponsable])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_Empleado]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_Producto] FOREIGN KEY([CodigoProducto])
REFERENCES [dbo].[Producto] ([CodigoProducto])
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_Producto]
GO
/****** Object:  StoredProcedure [dbo].[Seguimiento_Insertar]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Seguimiento_Insertar]
    @CodigoProducto INT,
    @IDPersonalResponsable INT,
    @Mensaje NVARCHAR(4000),
    @FechaRegistro DATETIME,
    @Visibilidad INT   -- último parámetro SIN coma al final
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Seguimiento
        (CodigoProducto, IDPersonalResponsable, Mensaje, FechaRegistro, Visibilidad)
    VALUES
        (@CodigoProducto, @IDPersonalResponsable, @Mensaje, @FechaRegistro, @Visibilidad);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_seguimiento]    Script Date: 11/19/2025 11:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_modificar_seguimiento]
@CodigoProducto int ,
@IDPersonalResponsable int,
@Mensaje varchar(MAX),
@FechaRegistro date,
@Visibilidad int,
@CodigoSeguimiento int
as
begin
 UPDATE Seguimiento
    SET 
        CodigoProducto = @CodigoProducto,
        IDPersonalResponsable = @IDPersonalResponsable,
        Mensaje = @Mensaje,
        FechaRegistro = @FechaRegistro,
        Visibilidad = @Visibilidad
    WHERE CodigoSeguimiento = @CodigoSeguimiento;  

    SELECT @@ROWCOUNT AS FilasAfectadas;
END; 
GO
USE [master]
GO
